@import "tailwindcss";

body{
  font-family: var(--font-outfit);
  margin: 0;
  padding: 0;
}
.signature{
  font-family: var(--font-allura);
}
:root{
  --mainColor: #074790;
  --secondaryColor: #041E3C;
  --textColor: #102c4b;
}

/* service icon  */
.serviceIcon:hover .icon{
   transform: rotate(180deg);
   transition: all 0.3s;
}

.headerImg{
  background-image: url(../public/bg/section4.png);
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 800px) {
  .headerImg{
    height: 450px;
  }
}

.bgImgAppointment{
  background-image: url('../public/bg/section5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logos{
  display: flex;
  position: relative;
}
.logos:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white 100%);
}
.logos:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
}

.logo-slide img{
  height: 100px;
  margin: 0 20px;
}

.logo-slide{
  animation: 10s slide infinite linear;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-140%);
  }
}

@media screen and (max-width: 800px) {
  .logos:after, .logos:before{
      width: 100px;

  }
  .logo-slide img{
      height: 80px;
      margin: 0 10px;
  }
}

.services{
  cursor: pointer;
}

.BgBestWishers{
  background-image: url('../public//bg/section6.png');
  height: 400px;
  background-position: center;
  background-size: cover;
  margin: 80px 0 0 0;
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .BgBestWishers{
    background-position: 550px;
  }
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* about  */
/* about  */
/* about  */
.about-heading-img{
  background-image: url('../public/bg/section3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

/* services  */
/* services  */
/* services  */
.service-heading-img{
  background-image: url('../public/bg/section1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

/* contact  */
/* contact  */
/* contact  */
.contact-heading-img{
  background-image: url('../public/bg/section2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}