@import "tailwindcss";

body{
  font-family: var(--font-outfit);
  margin: 0;
  padding: 0;
}
.signature{
  font-family: var(--font-allura);
}
:root{
  --mainColor: #074790;
  --secondaryColor: #041E3C;
  --textColor: #102c4b;
}

.headerImg{
  background-image: url(../public/bg/section4.png);
  height: 580px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 800px) {
  .headerImg{
    height: 450px;
  }
}

.bgImgAppointment{
  background-image: url('../public/bg/section5.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.logos{
  display: flex;
  position: relative;
}
.logos:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 350px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white 100%);
}
.logos:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  z-index: 10;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
}

.logo-slide img{
  height: 100px;
  width: 100%;
  margin: 0 20px;
}

.logo-slide{
  animation: 10s slide infinite linear;
}
@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-140%);
  }
}

@media screen and (max-width: 800px) {
  .logos:after, .logos:before{
      width: 100px;

  }
  .logo-slide img{
      height: 80px;
      margin: 0 10px;
  }
}